@charset "utf-8";
/* CSS Document */
/*
  *@author Florian Sommer
  *@version $Revision: 1.1 $
 */
/* **** Global **** */
html, body {
    border:0;
    margin:0;
    padding:0;
}
body {
    font:80% 'Segoe UI', Arial, Helvetica, sans-serif;
}
/* **** Headings**** */
h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
    font-weight:normal;
}
/* **** Common Formatting **** */
p, ul, ol {
    margin:0;
    padding:0 0 0 0;
}
ul, ol {
    padding:0 0 0 1.25em;
}
blockquote {
    margin:0em;
    padding:0 1.25em 0 1.25em;
}
small {
    font-size:0.85em;
}
img {
    border:0;
}
sup {
    position:relative;
    bottom:0.3em;
    vertical-align:baseline;
}
sub {
    position:relative;
    bottom:-0.2em;
    vertical-align:baseline;
}
acronym, abbr {
    cursor:help;
    letter-spacing:1px;
    border-bottom:1px dashed;
}
/* **** Links **** */
a,
a:link,
a:visited,
a:hover {
    text-decoration:none;
}
/* **** Forms **** */
form {
    margin:0;
    padding:0;
    display:inline;
}
input, select, textarea {
    font:1em 'Segoe UI', Arial, Helvetica, sans-serif;
}
textarea {
    width:100%;
    line-height:1.25em;
}
label {
    cursor:pointer;
}
/* **** Tables **** */
table tr td {
    border:0;
}